<div class="container">
    <h2>Produtos</h2>
  
    <div class="row mb-3">
      <div class="col">
        <input [(ngModel)]="novoProduto.nome" class="form-control" placeholder="Nome do Produto">
      </div>
      <div class="col">
        <input [(ngModel)]="novoProduto.preco" type="number" class="form-control" placeholder="Preço">
      </div>
      <div class="col">
        <select [(ngModel)]="novoProduto.categoriaId" class="form-control">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.nome }}
          </option>
        </select>
      </div>
      <div class="col">
        <button class="btn btn-success" (click)="adicionarProduto()">Adicionar</button>
      </div>
    </div>
  
    <ul class="list-group">
      <li *ngFor="let produto of produtos" class="list-group-item d-flex justify-content-between align-items-center">
        {{ produto.nome }} - R$ {{ produto.preco }} ({{ produto.categoria?.nome }})
        <button class="btn btn-danger btn-sm" (click)="excluirProduto(produto.id)">Excluir</button>
      </li>
    </ul>
  </div>
  